body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*First section*/
.main-section-body {
    background-color: #2A2F29;
}

ul{
    list-style-type: none;
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 20px;
    align-items: center;
}

li {
    margin-right: 50px;
    font-size: 20px;
}

ul > :nth-child(1) {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

li > img {
    width: 90px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #D5A35E;
}

p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.3;
    word-spacing: 1px;
}

.main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 100px;
}


.main-img {
    
    margin: 20px;
}

img {
    width: 500px;
    height: auto;
}

button {
    background-color: #D5A35E;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    width: 110px;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}
/*First section ends*/

/*Second section*/
.second-section-body {
    background-color: #D5A35E;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 50px;
    font-size: 35px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding-bottom: 50px;
}

.icons > img {
    width: 50px;
}
/*Second section ends*/

/*Third section*/

.third-section-body {
    background-color: rgb(36, 35, 35);
}

.quote {
    padding: 100px;
    margin: 0;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: auto;
    padding-bottom: 20px;
}

.jordan {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-bottom: 80px;
    padding-left: 880px;
    font-weight: 600;
}
/*Third section ends*/

/*Fourth section*/
.fourth-section-body {
    background-color: #D5A35E;
    display: flex;
    align-items: center;
    height: 350px;
}

.container {
    background-color: rgb(36, 35, 35);
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    width: 900px;
    margin: auto;
}

.cta > p{
    margin: 0;
}

.cta > :nth-child(1){
    font-size: 27px;
}

.cta > :nth-child(2){
    font-size: 19px;
}

.cta {
    margin-left: 40px;
}

.sign-up-last {
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
/*Fourth section ends here*/

footer {
    background-color: #2A2F29;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section > p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.disclaimer {
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
}

